body {
  padding: 0;
  margin: auto;
}

.header {
  background: #F78E17;
  text-align: center;
  padding: 5px;
  text-align: center;
}

.header2 {
  text-align: center;
  padding: 5px;
  text-align: center;
}

.sky_image_main {
  margin-left: 10%;
  margin-right: 0;
  margin-top: 10%;
  margin-bottom: 5%;
  height: 25%;
  width: 25%;
  padding: 0;
  border-radius: 100%;
  border: 2pt solid #F78E17;
}

.sky_image_emoji {
  margin-left: 5%;
  margin-right: 0;
  margin-top: 5%;
  margin-bottom: 10%;
  height: 25%;
  width: 37%;
  border-radius: 25%;
  border: 2pt solid #F78E17;
}

.main_div {
  display: table;
  clear: both;
}

.left_side {
  word-wrap: break-word;
  width: 50%;
  padding-left: 5%;
  padding-right: 0%;
  float: left;
}

div > p {
  font-size: 12pt;
  text-indent: 70px;
}

* {
  font-family: 'Alatac, Athiti';
}

.center_quote {
  font-style: italic;
  text-align: center;
}

q ~ footer {
  padding-top: 10px;
  font-style: normal;
  text-align: center;
}

.main_div img:hover {
  border: 2pt solid black;
}

.right_side {
  float: left;
  width: 45%;
}